[alias]
  aliases = config --get-regexp alias
  whoami = config user.email
	s = status -s
  p = pull --recurse-submodules
  tags = tag -l
	branches = branch --all
	remotes = remote --verbose

[gpg]
  program = /opt/homebrew/bin/gpg

[gpg "ssh"]

[branch]
	# Show most recently changed branches first.
	sort = -committerdate

[commit]
  gpgsign = true

[includeIf "gitdir:~/repos/dlampsi/"]
  path = .gitconfig.personal

[include]
  path = .gitconfig.local
